<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.bookserver.dao.BookDao">
    <resultMap id="BaseResultMap" type="com.liu.bookserver.model.Book">
        <id column="rowid" property="rowid" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="bname" property="bname" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
    </resultMap>

    <!--新增书籍信息-->
    <insert id="addBook">
        INSERT INTO book
        (id, bname, author)
        VALUES
            (#{id}, #{bname}, #{author})
    </insert>

    <!--编辑书籍信息-->
    <update id="editBook" parameterType="com.liu.bookserver.model.Book">
        UPDATE book
        <set>
            <if test="bname != null and bname != ''">
                bname = #{bname},
            </if>
            <if test="author != null and author != ''">
                author = #{author}
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <!--获取的单一书籍信息-->
    <select id="getBook" resultMap="BaseResultMap" resultType="java.util.ArrayList">
        SELECT id,rowid,bname,author
        FROM book
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="author != null and author != ''">
                and author LIKE CONCAT ('%', #{author},'%')
            </if>
            <if test="bname != null and bname != ''">
                and bname LIKE CONCAT ('%', #{bname},'%')
            </if>
        </where>
    </select>
</mapper>